html {
  background: black;
  font-size: 15px;
}

.bg {
  animation: color-change 6.9s infinite;
}

.header {
  text-align: center;
  margin-top: 0;
  text-color: black;
}

img.header {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 6.9%;
  border-radius: 16.18%;
}

a:visited {
  animation: color-change 1s infinite;
  color: cornflowerblue;
}

body {
  margin-left: 10px;
  text-decoration: bold;
  /* background-image: url("images/ua.gif");
  background-size: cover; */
  height: 100vh;
  border: none;
  color: white;
}

.content {
  position: relative;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

@keyframes color-change {
  0% { color: blue; }
  50% { color: yellow; }
  100% { color: blue; }
}

.watermark {
  text-align: center;
  opacity: 0.5;
}

a:visited.hidden {
  color:ghostwhite;
}

a:link {
  color:#beeeef;
  size:42069rem;
}

a.mailto {
  color:#ffcccc;
}

.donate {
  text-align: right;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #dbdbdb;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 4px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

@font-face {
  font-family: gogh;
  src: url("gogh.otf");
}